{
  "installed": {
    "client_id": "TWÓJ_CLIENT_ID.apps.googleusercontent.com",
    "project_id": "TWÓJ_PROJEKT",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "client_secret": "TWÓJ_SECRET"
  }
}
